*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background-color: rgb(71, 73, 80);
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
h1 {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 0 20px; 
    color:steelblue;
    text-align: center;
    
}

.header_container{
    display: flex;
    text-align: center;
    background-color: rgb(35, 37, 41)

}


#main_title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;
    margin-left: -50px;
    margin-top: 50px;
    color: white;
    font-size: 40px;
    flex: 1; 
    text-align: center;
}


.navbar ul{
    list-style-type: none;
    background-color:rgb(83, 84, 87);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a{
    color: white; 
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar a:hover{
    background-color:rgb(34, 34, 34);

}
.navbar li{
    float: left;
}

main{
    margin: 30px;
    flex: 1;
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    
}



.footer{
    display: flex;
    flex: 1;
    text-align: right;
    background-color: rgb(35, 37, 41);
    margin-top: auto;
    justify-content: center;
    align-items: end;    
}

#github_footer img {
    margin-bottom: 10px;
  }



#yo_img {
    margin-top: 55px;
    margin-left: 150px;
    border-radius: 50%; 
    width: 420px; 
    height: 420px;
    object-fit: cover;
  }


#title_of_main{
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: aliceblue;
    
}

#main_paragraph{
    margin-top: auto;
    margin-bottom: auto;
    flex: 1;
    flex-direction: column;
    text-align: center;
    font-size: 45px;
}
#main_paragraph_contact{
    margin-top: 30px;
    margin-bottom: auto;
    flex: 1;
    flex-direction: column;
    text-align: center;
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:white;
}

.tabla_horario{
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.tabla_descripciones{
    width: 700px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

form {
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 40px;
    max-width: 500px;
    margin-right: auto;
    margin-left: 800px;
    text-align: center;
    align-items: center;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: grab;
}

input[type="submit"]:hover {
    background-color: #555;
}

